html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    max-width: 100%;
    position: fixed;
    top:0;
  }
 #message{
    background-color: blue;
    opacity: 80%;
    width: 60%;
    height: 100%;
    text-align: left;
    top: 0%;
    color: rgb(198, 226, 236);
    font-family: "letter-gothic-std", monospace;
    font-weight: 800;
    position: fixed;
    z-index: 2;
    font-size: 11em;
    line-height: 80%;
  }
  .btn{
    display: block;
  }
 p{
    font-size: 0.12em;
    width: 85%;
    line-height: 120%;;
    padding-top: 2%;
    padding-left: 2%;
    color: aliceblue;
    font-style: normal;
  }
  #startButton{
    padding: 0.1% 2%;
    font-family: "letter-gothic-std", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 0.1em;
    border-width: 0;
    margin-left: 2%;
  }
  #startButton:hover{
    background-color: greenyellow;
    border-width: 0;
    cursor:pointer;
  }
#aboutButton{
  position: fixed;
  top: 0;
  right: 11%;
  z-index: 1;
}
#screenCapture{
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 1;
}
#documentation{
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: aliceblue;
  width: 600px;
  height: 400px;
  z-index: 4;
}
.prim{

}
.sec{

}
.ter{

}